.questionarea {
	
}


.round-button {
	width:25%;
}

.answer-button{
	height: 60px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 100px;
  height: 100px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 50%;
	margin-left:auto;
	margin-right:auto;
}

.glyphicon.glyphicon-headphones {
	font-size:35px;
}
.glyphicon.glyphicon-remove {
	font-size:30px;
	margin-top:-2px;
}
.glyphicon.glyphicon-question-sign {
	font-size:40px;
	margin-top:-7px;
}
.qnumber {
	font-weight: bold;
	font-size:24px;
	padding: 5px 5px 5px 5px;
}

.question {
	font-size:24px;
}
.minitest-bg {
	padding-top:20px;
        
        
        
}