.answer-button{
	height: 60px;
}

.left-answers {
	padding-right:2.5px;
}
.right-answers {
	padding-left:2.5px;
}
.rightcolumn {
	padding-left:5px;
}

.glyphicon.glyphicon-headphones {
	font-size:25px;
}

.question-area {
	height:80px;
}

.exitbtn {
	vertical-align: middle;
	height:35px;
	margin-top:10px;
	margin-left:-10px;
	font-weight: bold;
	
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 55px;
  height: 55px;
  padding: px px;
	
  font-size: 40px;
  line-height: 1.33;
  border-radius: 27px;
}

.qnumber {
	font-weight: bold;
	font-size:24px;
	padding: 5px 5px 5px 5px;
}

.title{
	font-weight:bold;
	color:white;
}

.header {
	background-color:#286090;
	background-color:		#1A3366;
	background-color: #337AB7;
	padding-top:5px;
	padding-bottom:5px;
}

.maincontent {
	background-color:#E2FFFF;
	background-color:#2952A3;
	background-color: #70A2CD;
	padding-bottom:10px;
}

.question {
	font-size:24px;
}

.minitest-content{  
	width:550px; 
	height:410px;
}
.popover{
    max-width: 200px; 
}

#listen {
	font-size:20px;
}

#listen .glyphicon {
	font-size:18px;
}